:root{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height:70px;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:1;
    background:rgba(255,255,255,0.3);
}
header.sticky {
    background:rgba(255,255,255,1);
}
header:hover{
    background:rgba(255,255,255,1);
}
.logo{
    flex:1;
}
.menu{
    flex:3;
    display: flex;
}
header a{
    color:#000;
    text-decoration: none;
}
.menu > li{
    padding:0 12px;
    position: relative;
}
.menu > li:hover .sub-menu {
    visibility: visible;
    top:45px;
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.5s;
    z-index:1;
    background:white;
}
.sub-menu ul{
    padding-left: 20px;
}

.sub-menu li a {
    font-weight: normal;
    font-size: 12px!important;
}
.menu  li  a{
    font-size : 12px;
    font-weight: bold !important;
    display: block;
    line-height: 20px;
}

.others{
    flex:1;
    display:flex;
    border:none;
    margin-right:100px;
}
.others > li {
    padding: 0 12px;
    position: relative;
}
.others > li::after{
    content:"";
    display:block;
    width: 1px;
    height: 50%;
    background: #ccc;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.others > li:last-child::after {
    display:none;

}
.others > li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    background:transparent;
    outline:none;
}
.others > li:first-child i {
    position: absolute;
    right: 10px;
    top: 0;
}
.others > li:first-child {
    position: relative;
    }
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow:hidden;
}

.aspect-ratio-169 {
    display:block;
    position: relative;
    padding-top:56.25%;
    transition:0.3s;
}
.aspect-ratio-169 img {
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0 ;
    left:0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width:100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    }
.dot{
    height: 16px;
    width: 16px;
    background-color: #ccc;
    border-radius : 50%;
    margin-right: 12px;
    cursor: pointer;
    }
.dot.active {
    background-color: #333;
}
.app-container{
    text-align:center;
    align-items:center;
    padding: 150px 0 50px 0;
}
.app-container p{
    line-height: 20px;
    letter-spacing:1px;
    font-size :17px;
    color:#000;
    font-weight:bold;
}
.app-container input {
    margin-top:50px;
    border:none;
    border-bottom:1px solid #000;
    padding-bottom:20px;
    width: 400px;
    text-align:center;
    outline:none;
}
footer{
    text-align:center;
    }
.footer-top{
    display: flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-bottom:center;
    height: 70px;
}
.footer-top img{
    height: 50px;
}
.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content:"";
    display:block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.footer-top li:last-child:after{
    display:none;
}
.footer-top li:last-child a{
    margin-right:12px;
    color: #333;
}
.footer-center{
    text-align:center;
}
.footer-bottom{
    margin:20px 0;
    text-align:center;
}
/*Category*/
.row{
    display:flex;
    flex-wrap: wrap;
}
.category{
    padding: 100px 0 0;
}
.category-top{
    margin-bottom: 20px;
    margin-left: 320px;
    }
.category-top p {
    font-family:var(--main-text-font);
    margin: 0 12px;
    font-size: 14px;
}
.category-left{
    width: 20%;
    }
.category-right{
    width:80%;
    }
.category-right-top-item:first-child{
    flex:2;
    font-size: 16px;
    font-family:var(--main-text-font);
    font-weight:bold;
}
.category-right-top-item{
    flex:1;
    padding: 0 12px;
    margin-right: 80px;
}
.category-right-top-item button{
    width:100%;
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    border: 1px solid #ddd;
    cursor: pointer;
    }
.category-right-top-item select{
    width:100%;
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    border: 1px solid #ddd;
    cursor: pointer;  
}
.category-right-content{
    margin-top:20px;
    justify-content: space-between;
}
.category-right-content-item{
    width: calc(25% - 8px);
    text-align: center;
    padding: 12px 0;
    margin-right: 90px;
    cursor: pointer;
}
.category-right-content-item h1{
    font-size:16px;
    font-family:var(--main-text-font);
    margin-top:6px;
    color: #333;
}
.category-right-content-item img{
    width:100%;
}
.category-right-content-item p{
    font-size: 16px;
}
.category-right-bottom {
    justify-content: space-between;
    margin-right:80px;
    width:100%;
}
.category-right-bottom p{
    font-size:13px;
    font-family:var(--main-text-font);
}
.category-left ul li{
    padding: 12px 0;
}
.category-left ul li>a{
    color:#000;
    font-size :16px;
    font-weight: bold;
    font-family:var(--main-text-font);
}
.category-left ul li ul li{
    padding-left: 10px;
}
.category-left-li.block ul{
    display: block;
}
.category-left ul li ul li a {
    color:#333;
    font-size: 12px;
}
/*-----product------*/
.product{
    padding: 100px 0;
}
.product-top{
    margin-bottom: 30px;
}
.product-top p{
    font-family:var(--main-text-font);
    margin : 0 12px;
    font-size: 12px;
}
.product-content-left{
    width: 50%;
}
.product-content-left-big-img {
    width: 50%;
    padding-right:20px;
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-right{
    width:50%;
    padding-left:20px;
}
.product-content-right-name h1{
    font-family:var(--main-text-font);
    font-size: 16px;
}
.product-content-right-name p{
    color: grey;
    font-size:12px;
}
.product-content-right-price{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family:var(--main-text-font);
}
.size span{
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #dddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity{
    display: flex;
    margin-bottom: 20px;
}
.quantity input{
    width: 35px;
    padding-left: 3px;
}
.product-content-right-button .btn{
    width: 150px;
    height:40px;
    display: block;
    margin: 20px 0 12px;
    transition:all 0.3s ease;
}
.product-content-right-button .btn:first-child{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:2px solid #000;
    cursor: pointer;
}
.product-content-right-button .btn:first-child:hover{
    background-color: #000;
    color: #fff;
}
.product-content-right-button .btn:last-child{
    border: 2px solid #0000FF;
    color:#0000FF;
    background-color:#fff;
    cursor:pointer;
}
.product-content-right-icon{
    display: flex;
}
.product-content-right-icon-item{
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.link{
    color:#000;
    margin-left: 10px;
    text-decoration: none;
}
.search{
    border:none;
}
.product-content-right-bottom{
    padding-top : 40px;
    position: relative;
    border-top: 1px solid #dddd;
}
.product-content-right-bottom-top{
    position: absolute;
    width:30px;
    height: 30px;
    border: 2px solid #dddd;
    display:flex;
    justify-content:center;
    align-items:center;
    top: -15px;
    left:50%;
    border-radius: 50%;
    transform: translatex(-50%);
    background-color: white;
}
.product-content-right-bottom-content-title{
    border-bottom:2px solid#ddd;
}
.product-content-right-bottom-content-title-item{
    padding:6px;
    cursor:pointer;
    margin-right:6px;
}
.product-content-right-bottom-content{
    padding-top: 30px;
}
.accordionFlushExample{
    border:2px solid#ddd;
}
.accordion{
margin-top: 20px;
}
.product-relate-title{
    margin : 20px 0;
}
.product-relate{
    margin-bottom:50px;
    margin-left:120px;
    margin-top:40px;
}
.product-relate-title p{
    font-family:var(--main-text-font);
    font-size:16px;
    font-weight:bold;
    color: #333;
}
.product-relate-content{
    margin-top: 20px;
    display:flex;
}
.product-relate-item {
    width: 18%;
    text-align: center;
    margin-right:50px;
    cursor: pointer;
}
.product-relate-item img{
    width:100%;
}
.product-relate-item h1{
    font-size:13px;
    font-family:var(--main-text-font);
    color:#333;
    margin-top:6px;
}
.rating-star .icon-rating-solid {
    margin-right: 0.125rem;
    color:#000;
    width:20px;
}
.rating-title{
    font-family:var(--main-text-font);
    font-size:16px;
    font-weight:bold;
    color: #333;
    margin-left:120px;
}
.rating-author-name h1{
    font-size:18px;
    font-family:var(--main-text-font); 
}
.rating-author{
    border: 2px solid#ddd;
    margin-left:120px;
    margin-right:90px;
}
.rating-author-content{
    padding:10px;
}
.footer-bottom{
    background-color: lightgrey;
}
/* cart*/
.cart{
    padding: 100px 0 ;
}
.cart-top-wrap{
    display:flex;
    justify-content: center;
}
.cart-top{
    height:2px;
    width:70%;
    background-color:#ddd;
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width:40px;
    height:40px;
    border-radius:50%;
    border: 1px solid#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}
.cart-top-item i{
    color:lightgrey;
}
.cart-top-cart{
    border:1px solid#0DB7EA;
}
.cart-top-cart i{
    color: #0DB7EA;
}
.cart-content-left{
    flex:2;
    padding-right:12px;
}
.cart-content-left table{
    width:100%;
    text-align:center;
}
.cart-content-left table th{
    padding-bottom:30px;
    font-family:var(--main-text-font); 
    font-size:12px;
    text-transform:uppercase;
    color:#333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddd;
}
.cart-content-left table p{
    font-size:12px;
    font-family:var(--main-text-font);
    color:#333;
}
.cart-content-left table input{
    width:30px;
}
.cart-content-left table span{
    display:block;
    width:20px;
    height:20px;
    border: 1px solid#dddd;
    cursor:pointer;
}
.cart-content{
    display:flex;
}
.cart-content-left td:first-child img{
    width: 130px;
    padding:10px;
}
.cart-content-left table td{
    border: 1px solid#dddd;
    padding-bottom:20px 0;
}
.cart-content-left td:nth-child(2){
    max-width:130px;
}
.cart-content-left td:nth-child(3) img{
    width:30px;
}
.cart-content-right{
    flex:1;
    padding-left:12px;
    border-left:2px solid#dddd;
}
.cart-content-right table{
    width:100%;
}
.cart-content-right table th{
    padding-bottom:30px;
    font-family:var(--main-text-font); 
    font-size: 12px;
    color:#333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddd;
}
.cart-content-right table td{
    font-family:var(--main-text-font); 
    font-size: 12px;
    color:#333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4){
    border-bottom: 2px solid#dddd;
}
.cart-content-right tr td:last-child{
    text-align:right;
}
.cart-content-right-button {
    text-align: center;
    align-items: center;
    margin-top:10px;
}
.cart-content-right-button button{
    padding: 0 18px;
    height: 35px;
    cursor:pointer;
}
.cart-content-right-button button:first-child{
    background-color:white;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-button button:first-child:hover{
    background-color:#ddd;
}
.cart-content-right-button button:last-child{
    background-color:black;
    color:#fff;
    border:none;
    border:1px solid black;
}
.cart-content-right-button button:last-child:hover{
    background-color: #dddd;
    color: black;
}
.cart-content-right-login p{
    font-family:var(--main-text-font); 
    font-size: 12px;
    color:#333;
    font-weight:bold;
    margin-top:10px;
}
.cart-content-right-bottom{
    margin:40px;
    margin-top:15px;
}
/* delivery*/
.delivery{
    padding: 100px 0 ;
}
.delivery-content{
    display:flex;
}
.delivery-top-wrap{
    display:flex;
    justify-content: center;
}
.delivery-top{
    height:2px;
    width:70%;
    background-color:#ddd;
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.delivery-top-item{
    width:40px;
    height:40px;
    border-radius:50%;
    border: 1px solid#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}
.delivery-top-item i{
    color:lightgrey;
}
.delivery-top-map{
    border:1px solid#0DB7EA;
}
.delivery-top-map i{
    color:#0DB7EA;
}
.delivery-content-left{
    width:60%;
    padding-right:12px;
}
.delivery-content-left p{
    font-family:var(--main-text-font); 
    font-size: 14px;
    font-weight:bold;
}
.delivery-content-left> p{
    font-weight:bold;
}
.delivery-content-left label{
    font-family:var(--main-text-font); 
    font-size: 12px;
    display:block;
    margin-bottom:6px;
}
.delivery-content-left-login{
    margin-top:12px;
}
.delivery-content-left-login i{
    margin-top:12px;
    margin-right:12px;
}
.delivery-content-left-guest{
    margin: 12px 0;
}
.delivery-content-left-guest input{
    margin-right:12px;
}
.delivery-content-left-business{
    margin: 12px 0;
}
.delivery-content-left-business input{
    margin-right:12px;
}
.delivery-content-left-input-top1{
    display :flex;
    justify-content: space-between;
    padding-top:20px;
}
.delivery-content-left-input-top2{
    display :flex;
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width:48%;
}
.delivery-content-left-input-top-item input{
    width: 100%;
    height:35px;
    border: 1px solid #dddd;
    padding-left: 6px;
}
.delivery-content-left-input-bottom input{
    width: 100%;
    height:35px;
    border: 1px solid #dddd;
    padding-left: 6px;
}
.delivery-content-left-button p{
    display:inline-block;
    font-family:var(--main-text-font); 
    font-size:12px;
}
.delivery-content-left-button span{
    margin-right:12px;
}
.delivery-content-left-button{
    justify-content: space-between;
    padding-top:20px;
    display:flex;
}
.delivery-content-left-button button{
    height: 35px;
    border: 2px solid black;
    padding: 6px 12px;
}
.delivery-content-left-login{
    display:flex;
}
.delivery-content-left-guest{
    display:flex;
}
.delivery-content-left-business{
    display:flex;
}
.form-check label{
    font-size: 14px;
    font-weight:bold;
}
.delivery-content-left-input-top-item label{
    font-size: 14px;
}
.delivery-content-right{
    width: 40%;
    padding-left: 20px;
    border-left:2px solid #dddd;
    height:auto;
}
.delivery-content-right table{
    width:100%;
    font-family: var(--main-text-font); 
    font-size: 14px;
    text-align:center;
}
.delivery-content-right table tr th:first-child{
    text-align:left;
}
.delivery-content-right table tr th{
    padding-bottom:14px;
    border-bottom:2px solid #dddd;
}
.delivery-content-right table tr th:last-child{
    text-align:right;
}
.delivery-content-right table tr td{
    padding:6px 0 ;
}
.delivery-content-right table tr:nth-child(4){
    border-top:2px solid #dddd;
}
.delivery-content-right table tr td:last-child{
    text-align:right;
}
.delivery-content-right table tr td:first-child{
    text-align:left;
}
/* Payment*/
.payment{
    padding: 100px 0 ;
}
.payment-content{
    display:flex;
}
.payment-top-wrap{
    display:flex;
    justify-content: center;
}
.payment-top{
    height:2px;
    width:70%;
    background-color:#ddd;
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.payment-top-item{
    width:40px;
    height:40px;
    border-radius:50%;
    border: 1px solid#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
}
.payment-top-item i{
    color:lightgrey;
}
.payment-top-pay{
    border:1px solid#0DB7EA;
}
.payment-top-pay i{
    color:#0DB7EA;
}
.payment-content-left{
    width:60%;
    padding-left: 40px;
}
.payment-content-right{
    width:40%;
    border-left:2px solid #dddd;
    padding-left:12px;
}
.payment-content-left label{
    font-size: 16px;
    font-family: var(--main-text-font); 
}
.payment-content-right-button{
    display:flex;
    padding:12px 0;
}
.payment-content-right-button input{
    height:30px;
    width: auto;
    margin-right:100px;
    padding-left:12px;
}
.payment-content-right-button button{
    height:30px;
    width:80px;
    background-color:black;
    color:white;
    border:none;
    cursor:pointer;
}
.payment-content-right-payment{
    margin-top:50px;
    align-items: center;
    text-align: center;
}
.payment-content-left-method-delivery{
    padding-top:5px;
}
.payment-content-right-payment label{
    font-size: 16px;
    font-family: var(--main-text-font); 
}
.payment-content-right table{
    width:100%;
    font-family: var(--main-text-font); 
    font-size: 14px;
    text-align:center;
}
.payment-content-right table tr th:first-child{
    text-align:left;
}
.payment-content-right table tr th{
    padding-bottom:14px;
    border-bottom:2px solid #dddd;
}
.payment-content-right table tr th:last-child{
    text-align:right;
}
.payment-content-right table tr td{
    padding:6px 0 ;
}
.payment-content-right table tr:nth-child(4){
    border-top:2px solid #dddd;
}
.payment-content-right table tr td:last-child{
    text-align:right;
}
.payment-content-right table tr td:first-child{
    text-align:left;
}
.main-relate-item{
    text-align: center;
    padding: 12px 0;
    margin-right:30px;
    margin-left:20px;
}
.main-relate{
    margin-bottom:50px;
    margin-left:120px;
    margin-top:40px;
}
.main-relate-title p{
    font-family:var(--main-text-font);
    font-size:16px;
    font-weight:bold;
    color: #333;
}
.main-relate-content{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
}
.main-relate-item {
    width: calc((100%-30px)/5);
    text-align: center;
    margin-right:40px;
    cursor: pointer;
}
.main-relate-item img{
    width:100%;
}
.main-relate-item h1{
    font-size:13px;
    font-family:var(--main-text-font);
    color:#333;
    margin-top:6px;
}
.main-relate-title p{
    font-size:22px;
    font-weight: bold;
    padding-top:30px;
}
/* success*/
.success{
    padding: 140px 0;
    text-align: center;
}
.success-top img{
    width:120px;
}
.table{
    box-align: center;
}




